.display {
  width: 100%;
  height: 25%;
  border-bottom: 1px solid $gray;
  padding: 1.5rem;
  box-sizing: border-box;

  h2 {
    color: $darkGray;
    width: 100%;
    height: 67%;
    font-size: 6.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  p {
    color: $lightGray;
    font-size: 2rem;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
